<?xml version="1.0" encoding="UTF-8"?>
<gui name="conquirere"
     version="2"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
 
  <MenuBar>
    <Menu name="file">
      <Action name="new_project" />
      <Action name="load_project" />
      <Action name="delete_project" />
      <Action name="close_project" />
      <Separator/>
      <Action name="db_background_sync" />
      <Separator/>
      <Merge/>
    </Menu>
    <Menu name="database">
      <text>Database</text>
      <Menu name="db_import"><text>Import from</text>
	<Action name="db_import_bibtex" />
	<Action name="db_import_zotero" />
      </Menu>
      <Menu name="db_export"><text>Export to</text>
	<Action name="db_export_bibtex" />
	<Action name="db_export_zotero" />
	<Action name="db_export_pdf" />
	<Action name="db_export_file" />
      </Menu>
      <Menu name="db_sync"><text>Synchronize</text>
	<Action name="db_sync_zotero" />
      </Menu>
      <Separator/>
	<Action name="db_check" />
	<Action name="db_backup" />
      <Merge/>
    </Menu>
    <Menu name="settings">
      <Menu name="toggle"><text>Toggle Docks</text>
	<Action name="toggle_library" />
	<Action name="toggle_sidebar" />
	<Action name="toggle_docpreview" />
	<Action name="toggle_websearch" />
      </Menu>
      <Merge/>
    </Menu>
    <Merge/>
  </MenuBar>
 
  <ToolBar name="projectToolBar">
    <text>project Toolbar</text>
      <Action name="new_project" />
      <Action name="load_project" />
      <Action name="delete_project" />
      <Action name="close_project" />
      <Separator/>
      <Action name="db_background_sync" />
      <Separator/>
      <Action name="debug_delete" />
  </ToolBar>
  
  <ToolBar name="mainToolBar" >
    <text>Main Toolbar</text>
      <Merge/>
  </ToolBar>
 
</gui> 
