[Desktop Entry]
Name=Conquirere
Exec=conquirere -caption %c
Icon=conquirere
Type=Application
Terminal=false
GenericName=Conquirere Research Helper Tool
Categories=Qt;KDE;Education;Office;Database;Science;Literature;
X-DocPath=conquirere/index.html
X-DBUS-StartupType=Multi
