<?xml version="1.0" encoding="UTF-8"?>
<gui name="conquirere"
     version="2"
     xmlns="http://www.kde.org/standards/kxmlgui/1.0"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://www.kde.org/standards/kxmlgui/1.0
                         http://www.kde.org/standards/kxmlgui/1.0/kxmlgui.xsd" >
 
  <MenuBar>
    <Menu name="file">
      <Action name="new_project" />
      <Action name="load_project" />
      <Action name="delete_project" />
      <Action name="close_project" />
      <Separator/>
      <Action name="db_background_sync" />
      <Separator/>
      <Merge/>
    </Menu>

    <Menu name="database">
      <text>Database</text>
	<Action name="db_import_file" />
	<Action name="db_export_file" />
	<Action name="db_sync_storage" />
      <Separator/>
	<Action name="db_check" />
	<Action name="db_backup" />
      <Merge/>
    </Menu>

    <Menu name="view">
      <text>View</text>
      <Action name="view_full_mode" />
      <Action name="view_document_mode" />
      <Action name="view_project_mode" />
      <Separator/>
      <Action name="update_list_cache" />
      <Merge/>
    </Menu>

    <Menu name="settings">
      <Action name="open_settings" append="show_merge" />
      <Merge/>
    </Menu>
  </MenuBar>
  
  <ToolBar name="projectToolBar" >
    <text>Project Toolbar</text>
      <Action name="new_project" />
      <Action name="load_project" />
      <Action name="close_project" />
      <Action name="delete_project" />
      <Separator/>
      <Action name="db_background_sync" />
      <Merge/>
  </ToolBar>
 
  <ToolBar name="viewToolBar">
    <text>View Toolbar</text>
      <Action name="view_full_mode" />
      <Action name="view_document_mode" />
      <Action name="view_project_mode" />
  </ToolBar>
 
</gui> 
