[Desktop Entry]
Name=Conquirere
Name[cs]=Conquirere
Name[es]=Conquirere
Name[et]=Conquirere
Name[gl]=Conquirere
Name[hu]=Conquirere
Name[it]=Conquirere
Name[nds]=Conquirere
Name[nl]=Conquirere
Name[pl]=Conquirere
Name[pt]=Conquirere
Name[pt_BR]=Conquirere
Name[sk]=Conquirere
Name[sv]=Conquirere
Name[uk]=Conquirere
Name[x-test]=xxConquirerexx
Exec=conquirere -caption "%c"
Icon=conquirere
Type=Application
Terminal=false
GenericName=Conquirere Research Helper Tool
GenericName[es]=Herramienta del asistente de investigación Conquirere
GenericName[et]=Conquirere uuringuabiline
GenericName[gl]=Ferramenta auxiliar de investigación Conquirere
GenericName[hu]=Conquirere kutatássegítő eszköz
GenericName[it]=Strumento di supporto alla ricerca di Conquirere
GenericName[nl]=Hulpgereedschap voor onderzoek Conquirere
GenericName[pl]=Narzędzie pomocne przy badaniach Conquirere
GenericName[pt]=Ferramenta de Auxílio à Pesquisa Conquirere
GenericName[pt_BR]=Ferramenta de auxílio à pesquisa Conquirere
GenericName[sv]=Conquirere hjälpverktyg för forskning
GenericName[uk]=Інструмент сприяння дослідженням Conquirere
GenericName[x-test]=xxConquirere Research Helper Toolxx
Categories=Qt;KDE;Education;Office;Database;Science;Literature;
X-DocPath=conquirere/index.html
X-DBUS-StartupType=Multi
